USE [QLCHAMCHUYEN]
GO
/****** Object:  Table [dbo].[Bai]    Script Date: 11/18/2021 10:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bai](
	[IDBai] [int] IDENTITY(1,1) NOT NULL,
	[TenBai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bai] PRIMARY KEY CLUSTERED 
(
	[IDBai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenXe]    Script Date: 11/18/2021 10:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenXe](
	[IDChuyen] [int] IDENTITY(1,1) NOT NULL,
	[IDXe] [int] NULL,
	[BSX] [varchar](12) NULL,
	[IDVT] [int] NULL,
	[IDNhaThau] [int] NULL,
	[IDBaiXuat] [int] NULL,
	[NgayXuat] [smalldatetime] NULL,
	[IDNguoiTao] [int] NULL,
	[NgayTao] [smalldatetime] NULL,
	[IDBaiNhap] [int] NULL,
	[NgayNhap] [smalldatetime] NULL,
	[IDNguoiXacNhan] [int] NULL,
	[NgayXacNhan] [smalldatetime] NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_ChuyenXe] PRIMARY KEY CLUSTERED 
(
	[IDChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 11/18/2021 10:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[IDNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](12) NULL,
	[Hoten] [nvarchar](250) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[IDQuyen] [int] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[IDNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaThau]    Script Date: 11/18/2021 10:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaThau](
	[IDNhaThau] [int] IDENTITY(1,1) NOT NULL,
	[MaNT] [varchar](15) NULL,
	[TenNT] [nvarchar](250) NULL,
 CONSTRAINT [PK_NhaThau] PRIMARY KEY CLUSTERED 
(
	[IDNhaThau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VatTu]    Script Date: 11/18/2021 10:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatTu](
	[IDVT] [int] IDENTITY(1,1) NOT NULL,
	[TenVT] [nvarchar](150) NULL,
 CONSTRAINT [PK_VatTu] PRIMARY KEY CLUSTERED 
(
	[IDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 11/18/2021 10:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[IDXe] [int] IDENTITY(1,1) NOT NULL,
	[BSX] [varchar](12) NULL,
	[SDKX] [varchar](20) NULL,
	[IDNhaThau] [int] NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[IDXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_NhaThau] FOREIGN KEY([IDNhaThau])
REFERENCES [dbo].[NhaThau] ([IDNhaThau])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_NhaThau]
GO
